body {
    text-align: center;
}

p {
    text-align: start;
}

form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    font-style: italic;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 225px;
    height: 50px;
    border: none;
    border-bottom: 3px solid rgb(41, 162, 20);
    text-align: center;
    font-size: 18px;
}

button {
    width: 125px;
    height: 50px;
    border: none;
    background-color:rgb(41, 162, 20);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-style: italic;
}