body {
    text-align: center;
}

p {
    text-align: start;
}

.timer {
    display: flex;
    padding-top: 25px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

input {
    width: 225px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 18px;
}

button {
    width: 75px;
    height: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}